{% include "header.html" %}
<div class="container main">
    <h1 class="contact">My work.</h1>
</div>
<div>
    <a class="name" href="{{ url_for('home') }}">R. Kumar</a>
</div>
<br>
<div class="container main">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>I'm an emerging Developer and Python programmer, just starting out on my professional journey as a
                Junior Developer.
                I'm dedicated to getting better at what I do every day, and my portfolio keeps growing as I learn.
                Below are links to some of my important websites, apps, and projects. You can also check out more
                of my work on my <a class='hyperlink' href='https://github.com/riteshh45' target='_blank'>GitHub</a>
                account. I love working with tech and dive into each project excited to learn more. I'm always up for
                new challenges and opportunities to improve my skills.
            </p>
            <br>
            <br>
            <hr>
            <br>


            <a class="project" href="https://github.com/riteshh45" target="_blank">
                My Journey.
            </a>
            <h3>Collection of projects.</h3>
            <p class="p-cursive">In progress.</p>
            <p class="stack-project">AWS | Vagrant | Bash Scripting | Python Scripting | CentOS | Ubuntu | Docker |
                Kubernetes | Jenkins | Ansible | Terraform | Cloudformation | CI/CD | IaC </p>
            <br>


            <a class="project" href="https://github.com/riteshh45/Portfolio-Basic" target="_blank">Portfolio.
            </a>
            <h3>Portfolio Website.</h3>
            <p class="stack-project">Flask | Bootstrap 5 | CSS | HTML | JavaScript</p>
            <br>


            <a class="project" href="https://github.com/riteshh45/Blog_Client" target="_blank">Ritesh's Blog.
            </a>
            <h3>Blog project with users.</h3>
            <p class="stack-project">Flask | Bootstrap | Postgres | SQLAlchemy | Jinja | WTForms | Gunicorn |
                Render</p>
            <br>


            <a class="project" href="https://github.com/riteshh45/Words-Scramble-Game" target="_blank">
                Game.
            </a>
            <h3>Word Scramble Game.</h3>
            <p class="stack-project">HTML | CSS | JavaScript</p>
            <br>


            <a class="project" href="https://github.com/riteshh45/Machine-Learning-Algorithms" target="_blank">
                ML Algorithms.
            </a>
            <h3>Machine Learning Algorithms.</h3>
            <p class="stack-project">Python</p>
            <br>


            <a class="project" href="https://github.com/riteshh45/Password-Generator" target="_blank">
                Password Generator.
            </a>
            <h3>Website.</h3>
            <p class="stack-project">HTML | CSS | JavaScript </p>
            <br>
        </div>
    </div>
</div>

{% include "footer.html" %}